@import "../fonts/stylesheet.css";


// Margin variables
$marginNormal: 20px;  
$marginBig: $marginNormal *2;  
$marginSmall: $marginNormal/2;
$marginPage : 28px;

// Colors
$mainColor: #000; 

// Fonts
$titleFont : "Bw Gradual";
$textFont : "IBM Plex Serif";
$infosFont : "IBM Plex Mono";

// FontSize
$mobileMenu : 1.35em;
$mobileTitle : 2.5em;
$mobileText : 1.2em;

$desktopMenu : 1.1em;
$desktopSmallText : 1em;
$desktopTitle : 40px;
$desktopText : 0.9em;
$desktopSmallSmall : 0.85em;
 
// Mixins
@mixin center{
	display: block;
	position: relative; 
	top: 50%;
	transform: translateY(-50%);
}

