// -------------- MOBILE-FIRST FOOTER --------------

footer{
	width: 100%;
	max-width: 100%;
	position: fixed;
	left:0;
	bottom:0; 
	background: #FFF;
	z-index: 10000;
	padding: $marginSmall 0; 
	// padding-bottom: 0;
	&.row{margin:0;}
	a{text-decoration:none;}
	.lower-left-text{
		font-size: $desktopTitle;
	}
	.lower-right-text{font-size: 28px;}
	.lower-right-text, .lower-left-text{
		font-family: $titleFont;
		font-weight: 100;	
	}
	.inner-footer{
		margin:0;
	}
	.footer_right-part{
		padding: 0;
		padding-bottom: 3px;
	}
	// .lower-right-text{
	// 	text-align: right;
	// }
	// .lower-left-text{
	// 	text-align: left;
	// }
}

.languages{
	background: #FFF;
	padding:0;
	pointer-events: auto;
	li{
		font-family: $titleFont; 
		text-transform: uppercase;
		font-size: $desktopSmallSmall;
		&:hover{
			font-weight: bold;
		}
		// margin: $marginSmall 0;
		&:not(.active){
			display: none;
			margin-left: calc(15px + 17px);
			position: absolute;
			top: 100%;
		}
		&.active{
			display: block;
			.select-btn{
				display:inline-block;
			}
		}
		.select-btn{
			cursor: pointer;
			display:none;
			margin-right: 15px;;
		}
	}
}

.widgets{
	padding: 0;
	.row{
		margin:0;
	}
	ul > li{
		margin-right: 5px;
	}
}

.social{
	position: relative;
	.list-social-networks{
		position: absolute;
		bottom: 100%;
		display:none;
		li{
			margin-bottom: $marginSmall;
		}
	}
}


// Icons
.icon::before{
	height: 1em;
  width: 1em;
  display: block;
  text-align: center;
  font-family: "fontawesome";
  font-size: 1em;
  font-weight: normal;
  cursor: pointer;
}

.icon-mentions::before {
  content: '\f29c';
}

.icon-light::before {
    content: '\e800';
}

.icon-social::before {
    content: '\e801';
}

.icon-facebook::before {
    content: '\f09a';
}

.icon-vimeo::before {
    content: '\f27d';
}

.icon-linkedin::before {
    content: '\f0e1';
}

.icon-instagram::before {
    content: '\f16d';
}

.icon-youtube::before {
    content: '\f167';
}

.icon-twitter::before {
    content: '\f099';
}

// -------------- DESKTOP FOOTER --------------
@media only screen and (min-width: 64em){
	footer{
		background: #FFF;
		padding:$marginPage;
		& > .row{
			margin:0;
		}
		.footer_right-part{
			background: #FFF; 
			padding:0;
		}
	}
	.lower-left-text{
		background: #FFF; 
		padding:0;
		padding-left:0px;
		line-height: 0.7;
	}

	// .inner-footer{
	// 	position: relative;
	// }
	.lower-right-text{
		// transform: translate(20%, -100%);
		position: absolute;
		right: -15px;
		bottom: 63px;
		
			transform: rotate(-90deg);
			// margin:0;
			width: 140px;
		p{
			// text-align: left !important;
			// transform: rotate(-90deg);	
			margin:0;
			text-align: left !important;
			// width: 120px;
			 // transform-origin: right top;
		}
	}
	.languages{
		// margin-top:-10px;
	}
}


