// -------------- MOBILE-FIRST HEADER --------------

header{
	width: 100%;
	max-width: 100%;
	position: fixed;
	left:0;
	top:0; 
	background: #FFF;
	z-index: 10000; 
	&.row{margin:0;}
	a{text-decoration:none;}
	.mobile-menu{
		display:flex;
		justify-content: space-between;
		align-items:center;
		width: 100%;
	}
	.mobile-menu_title h1{
		font-weight: 100;
		font-size: 41px;
		margin:0;
		cursor: pointer;
	}
	.mobile-menu_logo{
		padding: $marginSmall $marginNormal 0 $marginNormal;
		width: 25%;
		max-width: 100px;
		min-width: 80px;
	}
	.mobile-menu_btn{
		display:block;
		position:relative;
		margin:0px $marginNormal;
		cursor:pointer;
		height:24px;
		width: 30px;
		span {
		  display:block;
		  background:#000;
		  height:1px;
		  width:30px;
		  position:absolute;
		  transition:all 0.5s ease;
		}
		span:nth-child(1){top:0px;}
		span:nth-child(2){top:10px;}
		span:nth-child(3){top:20px;}

		.transparent {opacity:0;}
		.rotate-top{transform:rotatez(45deg);-webkit-transform-origin:0%;left:2px}
		.rotate-bottom{transform:rotatez(-45deg);-webkit-transform-origin: 15%;}
	}
	.nav{
		max-height:0; 
		overflow:hidden; 
		background: #FFF;
		// margin:0;
		padding-left: 5.5vw;
		width: 100%;
		transition: all 1s linear;
		&.active{
			max-height: 100vh; 
			overflow: auto;
		}
	}
	.main-nav{
		margin-top: $marginNormal;
		padding: 0 $marginPage 0 0;
		& > ul > li{
			padding-top: 2px; 
			padding-bottom:2px;
			cursor: pointer;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			font-family: $titleFont; 
			font-size: $mobileMenu; 
			text-align: right; 
			border-top: 1px solid $mainColor;
			padding-top: $marginSmall;
			padding-bottom: $marginSmall;
			text-transform: uppercase;
			transition: text-align 0.3s linear;
			a{color: $mainColor;}
			&.active{
				color: #000;
				& > span{
					display: block;
					text-align: left;
					margin-bottom: $marginNormal;
				}
			}	
			&:last-child{
				border-bottom: 1px solid $mainColor;
			}			
		}
	}
	.main-nav_first-level{
		& > li{
			&:hover, &:hover > a{
				color: #000;
				&::before{color: #000;}
			}
			ul > li{
				a{color: $mainColor;}
				&:hover, &:hover a{
					color: #000;
				}
			}
		}
	}
	.main-nav_submenu{ 
		max-height:0;
		overflow: hidden; 
		padding: 0;
		transition: max-height 1s linear;
		& > li{
		 	font-size: 0.55em;
		 	text-transform: uppercase; 
		 	border: none;
		 	text-align: left;
		 	font-weight: 500;
		 	margin-bottom: $marginSmall;
		 	&:before{
		 		content: "–";
		 	}
		 	.main-nav_sub-submenu{
		 		& > li{
		 			text-transform: none;
		 			font-size: 1.3em;
		 			font-weight: 300;
		 		}
		 	}
		}
		&.active{
			// padding: $marginSmall;
			max-height: 3000px; 
			transition: all 1s linear;
		}
		a.active{color:#000;}
	}
}


// -------------- DESKTOP HEADER --------------
@media only screen and (min-width: 64em){
	header{
		position: fixed;
		padding: $marginPage;
		background: transparent;
		// .nav{
		// 	display:flex; 
		// 	height:auto; 
		// 	min-height:auto;
		// 	max-height: none;
		// 	padding-left: $marginBig;
		// }
		.nav{
			padding: 0;
		}
		.mobile-menu_title {
			h1{
				margin-top: -10px;
				font-size: $desktopTitle;
			}
		}
		.main-nav{
			margin-top:0;
			font-size: $desktopMenu;	
		}
		.main-nav_submenu{
			position: absolute;
			top: 100%;
			left:0; 
			right:0;
			padding: 0 $marginNormal;
			display:flex;
			justify-content: center;
			background: #FFF; 
			&.active{
				padding: $marginSmall $marginNormal;
			}
			li{
				padding: 0px $marginSmall;
			}
		}
		.desktop-menu{
			padding: 0;
			width: 100%;
			.desktop-menu_logo{
				// background: #FFF;
				figure{width: 60px;}
			}
			.desktop-menu_nav{
				padding-top: $marginSmall;
			}
		}
	}
}