// -------------- MOBILE-FIRST HEADER --------------

header{
	width: 100%;
	max-width: 100%;
	position: fixed;
	left:0;
	top:0; 
	background: #FFF;
	z-index: 10000; 
	// pointer-events: none;
	padding: $marginPageMobile;
	// padding-bottom: 0;
	&.row{margin:0;}
	a{text-decoration:none;}
	.mobile-menu{
		// display:flex;
		// justify-content: space-between;
		
		width: 100%;
		margin:0;
		.mobile-menu_wrapper{
			align-items:center;
			margin: 0;
			justify-content: flex-end;
		}
	}
	.mobile-menu_title h1{
		font-weight: 100;
		font-size: 35px;
		margin:0;
		cursor: pointer;
		pointer-events: auto;
	}
	.mobile-menu_logo{
		// padding: $marginSmall $marginNormal 0 $marginNormal;

		.mobile-menu_logo_inner{
			// width: 25%;
			// max-width: 60px;
			// min-width: 40px;
			width: 40px;
		}
	}
	.mobile-menu_btn{
		display:block;
		position:relative;
		margin:7px 10px 0 0;
		cursor:pointer;
		height:24px;
		width: 20px;
		pointer-events: auto;
		span {
		  display:block;
		  background:#000;
		  height:1px;
		  width:20px;
		  position:absolute;
		  transition:all 0.5s ease;
		}
		span:nth-child(1){top:0px;}
		span:nth-child(2){top:10px;}
		span:nth-child(3){top:20px;}

		.transparent {opacity:0;}
		.rotate-top{transform:rotatez(50deg);-webkit-transform-origin:0%;left:2px}
		.rotate-bottom{transform:rotatez(-50deg);-webkit-transform-origin: 15%;top:13px!important;}
	}
	.nav{
		max-height:0; 
		overflow:hidden; 
		background: #FFF;
		margin:0;
		// padding-left: 5.5vw;
		width: 100%;
		transition: max-height 1s linear;
		&.active{
			max-height: 100vh; 
			overflow: auto;
		}
	}
	.main-nav{
		margin-top: $marginNormal;
		padding: 0;
		& > ul > li{
			padding-top: 2px; 
			padding-bottom:2px;
			cursor: pointer;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			font-family: $titleFont; 
			font-size: $mobileMenu; 
			text-align: right; 
			border-top: 1px solid $mainColor;
			padding-top: $marginSmall;
			padding-bottom: $marginSmall;
			text-transform: uppercase;
			transition: text-align 0.3s linear;
			// a{color: $mainColor;}
			&.active{
				// color: #000;
				& > span{
					display: block;
					text-align: left;
					// margin-bottom: $marginNormal;
				}
			}	
			&:last-child{
				border-bottom: 1px solid $mainColor;
			}			
		}
	}
	// .main-nav_first-level{
	// 	& > li{
	// 		&:hover, &:hover > a{
	// 			color: #000;
	// 			&::before{color: #000;}
	// 		}
	// 		ul > li{
	// 			// a{color: $mainColor;}
	// 			// &:hover, &:hover a{
	// 			// 	color: #000;
	// 			// }
	// 		}
	// 	}
	// }
	.main-nav_submenu{ 
		max-height:0;
		overflow: hidden; 
		padding: 0;
		transition: max-height 1s linear;
		margin-top: 0;
		& > li{
		 	font-size: 0.55em;
		 	text-transform: uppercase; 
		 	border: none;
		 	text-align: left;
		 	font-weight: 500;
		 	margin-bottom: $marginSmall;
		 	&:before{
		 		content: "–";
		 	}
		 	.main-nav_sub-submenu{
		 		& > li{
		 			text-transform: none;
		 			font-size: 1.3em;
		 			font-weight: 300;
		 		}
		 	}
		}
		&.active{
			// padding: $marginSmall;
			max-height: 3000px; 
			transition: all 1s linear;
			margin-top: $marginNormal;
		}
		a.active{color:#000;}
	}
	.header-right{
		pointer-events: auto;
		padding:0;
	}
}

// -------------- TABLET HEADER --------------
@media only screen and (min-width: 48em) {

}


// -------------- DESKTOP HEADER --------------
@media only screen and (min-width: 62em){
	header{
		position: absolute;
		padding: $marginPage;
		background: transparent;
		z-index: 0; 
		// .nav{
		// 	display:flex; 
		// 	height:auto; 
		// 	min-height:auto;
		// 	max-height: none;
		// 	padding-left: $marginBig;
		// }
		.nav{
			padding: 0;
			margin:0;
		}
		.mobile-menu_title {
			h1{
				margin-top: -10px;
				font-size: $desktopTitle;
			}
		}
		.header-right{
			position: fixed;
			right:$marginPage;
			top: 90px;
			margin:0;
			width:100%;
			padding-left:0.6rem;
		}
		.main-nav{
			margin-top:-5px;
			padding: 0;
			margin-bottom:80px;
			padding-left: 32px;
			font-size: $desktopMenu;	
			ul > li {
				font-size: $desktopMenu;
				text-transform: inherit;
				text-align: left;
				border: none;
				padding: 4px 0px;
				&:last-child{border:none;}
				&.active{
					font-weight: 500;
					&::before{
						content: "•";
						margin-right: 20px;
						margin-left: -32px;
					}
				}
				&:hover{
					font-weight: 500;
					&::before{
						content: "•";
						margin-right: 20px;
						margin-left: -32px;
					}
				}
			}
		}
		.desktop-menu{
			padding: 0;
			width: 100%;
			margin: 0;
			.desktop-menu_logo{
				// padding: $marginPage;
				padding:0px;
				background: #FFF;
				figure{width:70px;}
				// figure{min-width: 50px;max-width:150px;}
				a{pointer-events: auto;}
			}
			.desktop-menu_nav{
				padding:0;
				margin:0;
				position:fixed;
				left:calc(86.667% - #{$marginPage} + 10px);
				// padding: $marginPage;
			}
		}
	}
}

// -------------- CORRECTION DU BUG SAUT DU LOGO DROIT  --------------
@media only screen and (min-width: 48em) and (max-width: 1210px){
	header{
		.mobile-menu_title {
			h1{
				font-size: 31px;
				margin-top: -2px;
			}
		} 
		.desktop-menu{
			.desktop-menu_logo{
				figure{width:60px;}
			}
		}
	}
}



