// -------------- MOBILE-FIRST HOME --------------
.list-projects {
	padding: 0;
	li{
		padding:0;
	}
}

@media only screen and (max-width: 48em){
	.list-projects {
		margin: 0;
	}
}


// -------------- DESKTOP HOME --------------
@media only screen and (min-width: 62em){
	.list-projects {
		// margin: inherit;
	}
	.list-projects li{
		width: calc(50% - 1rem);
	}
	.list-projects_selected li{
		width: calc(50% - 2rem);
	}
	.list-projects li{
		position: relative;
		// opacity: 0.9;
		// transition: opacity 0.2s ease;
		// &:hover{
		// 	opacity: 1;
		// }
	}
	.list-project_infos{
		font-family: $titleFont;
		font-size: $desktopSmallText;
		line-height: 1.4;
		opacity: 0; 
		position: absolute;
		bottom: 0;
		left:0;
		right:0;
		background: #FFF;
		padding: $marginSmall;
		transition: opacity 0.2s ease, background 0.2s ease;
		&::before{
			content: "—";
		}
	}
	
	.list-projects li:hover .list-project_infos{
		// display: block !important;
		opacity: 1;
		// max-height: 3000px;
		background: rgba(255, 255, 255, 1); 
	}

}






