// I M P O R T
// -------------- MOBILE-FIRST --------------
@import "_variables.scss";

*{
  box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
	margin: $marginPageMobile; 
  font-size: 16px; 
  font-family: $textFont;
  line-height: 1.22;
}

// night mode
body.night{
  background: #000;
  color: #FFF;
  .list-project_infos{
    color: #000;
  }
  .list-projects_template .list-project_infos{
  //   background: #000;
    color: #FFF;
  }
  // .list-projects li:hover .list-project_infos{
  //   background: #000;
  // }
  footer, header .desktop-menu .desktop-menu_logo, .languages, header .nav{
    background: #000;
  }
  p, a, li, h1, h2, h3, h4, h5{
    color: #FFF;
  }
  header .mobile-menu_btn span{
    background: #FFF;
  }
  .desktop-menu_logo{
    figure{
      filter: invert(1);
    }
  }
}

// pour le dev
// .grid{
//   position: fixed;
//   top:0;
//   left:0;
//   height: calc(100vh - (#{$marginPage}*2));
//   width:100%;
//   margin:0;
//   padding: $marginPage;
//   z-index:10000;
//   > div{
//      height: calc(100vh - (#{$marginPage}*2));
//     border-right: 1px solid pink;
//   }
// }

// main{
//   border: 1px solid purple;
// }
// fin pour le dev


// -------------- RESET.CSS --------------
ul, ol{margin:0; padding:0;}
li{list-style:none;}
a{color: #000;text-decoration: none;}
a:visited{color: $mainColor;}
img {width: 100%;}
figure{margin:0;}
h1, h2, h3, h4, h5, h6{
  font-family: $titleFont;
  font-weight: 100;
}
h1{
  margin-top: 0;
  // margin-bottom: 80px;
  font-size: $desktopTitle;
}
p{
  margin: $marginNormal 0;
  font-size: $mobileText;
  line-height: 1.3;
}

figure.portrait{
  width: 70%;
}

figcaption{
  p{
    margin:5px 0px $marginNormal 0px;
    font-size: 0.7em;
    color: #535353;
  }
}

.pswp{
  z-index: 12000;
  .pswp__caption__center{
    text-align: center;
  }
}


// -------------- IMPORT TEMPlATES STYLES --------------
@import "header.scss";
@import "home.scss";
@import "article.scss";
@import "footer.scss";

// -------------- MOBILE-FIRST GENERAL --------------
.show-for-small-only{
	display:block;
}

.show-for-small-only.row{
  display:flex;
}

.hide-for-small-only{
	display:none;
}

main{
  margin-bottom: 100px;
}

main, aside{
  padding-top: 128px; 
}

aside p:first-child{
  margin-top:0;
}

.no-padding-top{
  padding-top: 0;
}

.page_header{
  position: fixed;
  width: calc(100% - (#{$marginPageMobile}*2));
  max-width: 100%;
  left:$marginPageMobile; 
  top: 72px; 
  background: #FFF;
  z-index: 1000; 
  padding: $marginSmall 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000; 
  font-family: $titleFont; 
  font-size: $mobileMenu;
  text-transform: uppercase;
  &.row{margin:0;}
}

// ACTUALITÉS
.actualites{
  padding: 0;
}

.content-to-hide{ 
  max-height:0; 
  overflow: hidden;
  transition: all 0.5s ease;
  &.active{
    max-height: 2000px;
    transition: all 0.5s ease;
  }
}

article.actualite{
  margin-bottom: $marginBig*2;
  .see-more{
    &.active{display:none;}
  }
}

.actualite_title{
  margin-bottom: $marginNormal;
  margin-left: 0;
  margin-right: 0;
  h2{
    margin: 0;
    font-weight: 500; 
    text-transform: uppercase;
    font-size: $desktopText;
  }
  .actualite_date{
    font-family: $titleFont;
    font-size: $desktopText;
  }
}

.see-more{
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.8em;
  text-align: left;
  font-family: $titleFont;
  cursor: pointer;
  &:before{
    content: ">";
  }
  &:hover{
    font-weight: 500;
  }
}

// PROJETS
aside.list-projects_text{
  li{
    font-family: $titleFont;
    font-weight: 300;
    font-size: 1.2em;
    &:hover{
      font-weight: 500;
      &::before{
        content: "–";
      }
    }
  }
}

.list-projects_template{
  margin:0;
  li:hover .list-project_infos{
    background: transparent;
  }
  .list-project_infos{
    position: relative;
    opacity: 1; 
    padding-left: 0;
    background: transparent;
  }
}

// PROJET
.projet_images-gallery{
  figure{margin-bottom: $marginNormal;}
}

.projet_introduction-text{
  p{
    font-size: $desktopSmallSmall+0.2em;
  }
}

.projet_infos-text{
  margin-top: $marginBig;
  h2{
    text-transform: uppercase;
    font-size: $desktopSmallSmall;
    font-weight: normal;
    font-weight: 500;
    font-size: 0.8em;
  }
  p{
    font-size: $desktopSmallSmall;
    font-family: $infosFont;
  }
}

.prev_nex-nav{
  a{padding-left: $marginNormal;}
}

// Agence
.chapeau{
  p{
    font-size: 1.1em;
  }
}

.agence_text-inner_main{
  p:first-child{
    margin-top: 0px;
  }
}

.agence_text-inner_aside{
  h3{
    margin-top:0;
    text-transform: uppercase; 
    font-weight: 500;
    font-size: $desktopText;
  }
  p + h3{
    margin-top: $marginBig;
  }
  p{
    font-size: $desktopSmallSmall;
  }
}
.agence_text-inner_main{
  h2{
    text-transform: uppercase; 
    font-weight: 500;
    font-size: 0.8em;
    margin-top: $marginNormal;
    margin-bottom: $marginSmall;
    & + p{margin-top:0;}
  }
}

.agence_equipe{
  h2{
    font-size: $desktopTitle; 
  }
  li{
    margin-bottom: $marginBig;
    padding: 0 1rem;
    h3{
      margin-bottom:0;
      text-transform: uppercase; 
      font-weight: 500;
      font-size: $desktopText;
    }
    p{
      margin:0;
    }
    .role{
      &::after{
        content: "—";
        display: block;
      }
    }

  }
  
}


// -------------- DESKTOP GENERAL --------------
@media only screen and (min-width: 62em){
  body{
    margin-bottom: 100px;
    margin: $marginPage;
  }
  p{
    font-size: $desktopText;
    line-height: 1.3;
  }
  h1{margin-bottom: 80px;}
  .show-for-small-only{
      display:none !important;
  }
  .hide-for-small-only{
      display:block;
  }

  .hide-for-small-only.row{
      display:flex;
  }

  main{
    padding-top: 0px; 
  }

  .filters{
    margin: 50px 0;
    font-family: $titleFont;
    font-size: $desktopSmallSmall;
    text-transform: uppercase; 
    li{
      margin-bottom: $marginSmall/2;
      cursor: pointer;
      &::before{
        content:"⦿";
        margin-right: 15px;
      }
      &.not-active::before{
        content:"◯";
      }
    }
  }

  // PROJETS
  // noir et blanc sur les images
  .list-projects_template{
    li{
      filter: grayscale(1);
      transition: filter 1s linear;
      &:hover{
        filter: grayscale(0);
      }
    }
  }


  // PROJET
  .projet_main, .projets_main{
    margin-left : 0;
  }
  .projet_text-projet{
    .see-more{
      &.active{display:none;}
    }
    .projet_text{
      max-height:0;
      overflow: hidden;
      transition: max-height 1s linear;
      h2{
        text-transform: uppercase; 
        font-weight: 500;
        font-size: 0.8em;
        margin-top: $marginNormal;
        margin-bottom: $marginSmall;
        & + p{margin-top:0;}
      }
      &.active{
        max-height: 4000px;
      } 
    }
  }
  .prev_nex-nav{
    text-align: center;
    a{
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  // ACTUALITÉS
  .actualites{
    padding: 0 1rem;
  }

  // AGENCE
  .chapeau{
    p{
      font-size: $desktopSmallSmall+0.2em;
    }
  }
}





