@charset "UTF-8";
@import url(../fonts/stylesheet.css);
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  margin: 28px;
  font-size: 16px;
  font-family: "IBM Plex Serif";
  line-height: 1.22; }

ul, ol {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  color: #000;
  text-decoration: none; }

a:visited {
  color: #000; }

img {
  width: 100%; }

figure {
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Bw Gradual";
  font-weight: 100; }

h1 {
  margin-top: 0;
  margin-bottom: 80px;
  font-size: 40px; }

p {
  margin: 20px 0; }

figure.portrait {
  width: 70%; }

figcaption p {
  margin: 5px 0px 20px 0px;
  font-size: 0.7em;
  color: #535353; }

.pswp {
  z-index: 12000; }
  .pswp .pswp__caption__center {
    text-align: center; }

header {
  width: 100%;
  max-width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: #FFF;
  z-index: 10000;
  pointer-events: none; }
  header.row {
    margin: 0; }
  header a {
    text-decoration: none; }
  header .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%; }
  header .mobile-menu_title h1 {
    font-weight: 100;
    font-size: 41px;
    margin: 0;
    cursor: pointer;
    pointer-events: auto; }
  header .mobile-menu_logo {
    padding: 10px 20px 0 20px;
    width: 25%;
    max-width: 100px;
    min-width: 80px; }
  header .mobile-menu_btn {
    display: block;
    position: relative;
    margin: 7px 10px 0 0;
    cursor: pointer;
    height: 24px;
    width: 20px;
    pointer-events: auto; }
    header .mobile-menu_btn span {
      display: block;
      background: #000;
      height: 1px;
      width: 20px;
      position: absolute;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    header .mobile-menu_btn span:nth-child(1) {
      top: 0px; }
    header .mobile-menu_btn span:nth-child(2) {
      top: 10px; }
    header .mobile-menu_btn span:nth-child(3) {
      top: 20px; }
    header .mobile-menu_btn .transparent {
      opacity: 0; }
    header .mobile-menu_btn .rotate-top {
      -webkit-transform: rotatez(50deg);
      -ms-transform: rotate(50deg);
      transform: rotatez(50deg);
      -webkit-transform-origin: 0%;
      left: 2px; }
    header .mobile-menu_btn .rotate-bottom {
      -webkit-transform: rotatez(-50deg);
      -ms-transform: rotate(-50deg);
      transform: rotatez(-50deg);
      -webkit-transform-origin: 15%;
      top: 13px !important; }
  header .nav {
    max-height: 0;
    overflow: hidden;
    background: #FFF;
    padding-left: 5.5vw;
    width: 100%;
    -webkit-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear; }
    header .nav.active {
      max-height: 100vh;
      overflow: auto; }
  header .main-nav {
    margin-top: 20px;
    padding: 0 28px 0 0; }
    header .main-nav > ul > li {
      padding-top: 2px;
      padding-bottom: 2px;
      cursor: pointer;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-family: "Bw Gradual";
      font-size: 1.35em;
      text-align: right;
      border-top: 1px solid #000;
      padding-top: 10px;
      padding-bottom: 10px;
      text-transform: uppercase;
      -webkit-transition: text-align 0.3s linear;
      -o-transition: text-align 0.3s linear;
      transition: text-align 0.3s linear; }
      header .main-nav > ul > li a {
        color: #000; }
      header .main-nav > ul > li.active {
        color: #000; }
        header .main-nav > ul > li.active > span {
          display: block;
          text-align: left;
          margin-bottom: 20px; }
      header .main-nav > ul > li:last-child {
        border-bottom: 1px solid #000; }
  header .main-nav_first-level > li:hover, header .main-nav_first-level > li:hover > a {
    color: #000; }
    header .main-nav_first-level > li:hover::before, header .main-nav_first-level > li:hover > a::before {
      color: #000; }
  header .main-nav_first-level > li ul > li a {
    color: #000; }
  header .main-nav_first-level > li ul > li:hover, header .main-nav_first-level > li ul > li:hover a {
    color: #000; }
  header .main-nav_submenu {
    max-height: 0;
    overflow: hidden;
    padding: 0;
    -webkit-transition: max-height 1s linear;
    -o-transition: max-height 1s linear;
    transition: max-height 1s linear; }
    header .main-nav_submenu > li {
      font-size: 0.55em;
      text-transform: uppercase;
      border: none;
      text-align: left;
      font-weight: 500;
      margin-bottom: 10px; }
      header .main-nav_submenu > li:before {
        content: "–"; }
      header .main-nav_submenu > li .main-nav_sub-submenu > li {
        text-transform: none;
        font-size: 1.3em;
        font-weight: 300; }
    header .main-nav_submenu.active {
      max-height: 3000px;
      -webkit-transition: all 1s linear;
      -o-transition: all 1s linear;
      transition: all 1s linear; }
    header .main-nav_submenu a.active {
      color: #000; }
  header .header-right {
    pointer-events: auto;
    padding: 0; }

@media only screen and (min-width: 64em) {
  header {
    position: absolute;
    padding: 28px;
    background: transparent; }
    header .nav {
      padding: 0;
      margin: 0; }
    header .mobile-menu_title h1 {
      margin-top: -10px;
      font-size: 40px; }
    header .header-right {
      position: fixed;
      right: 28px;
      top: 90px;
      margin: 0;
      width: 100%;
      padding-left: 0.6rem; }
    header .main-nav {
      margin-top: -5px;
      padding: 0;
      margin-bottom: 80px;
      padding-left: 32px;
      font-size: 1.1em; }
      header .main-nav ul > li {
        font-size: 1.1em;
        text-transform: inherit;
        text-align: left;
        border: none;
        padding: 4px 0px; }
        header .main-nav ul > li:last-child {
          border: none; }
        header .main-nav ul > li.active {
          font-weight: 500; }
          header .main-nav ul > li.active::before {
            content: "•";
            margin-right: 20px;
            margin-left: -32px; }
        header .main-nav ul > li:hover {
          font-weight: 500; }
          header .main-nav ul > li:hover::before {
            content: "•";
            margin-right: 20px;
            margin-left: -32px; }
    header .desktop-menu {
      padding: 0;
      width: 100%;
      margin: 0; }
      header .desktop-menu .desktop-menu_logo {
        padding: 0px;
        background: #FFF; }
        header .desktop-menu .desktop-menu_logo figure {
          width: 70px; }
        header .desktop-menu .desktop-menu_logo a {
          pointer-events: auto; }
      header .desktop-menu .desktop-menu_nav {
        padding: 0;
        margin: 0;
        position: fixed;
        left: calc(86.667% - 28px + 10px); } }

.list-projects li {
  padding: 0; }

@media only screen and (min-width: 64em) {
  .list-projects li {
    width: calc(50% - 1rem); }
  .list-projects_selected li {
    width: calc(50% - 2rem); }
  .list-projects li {
    position: relative; }
  .list-project_infos {
    font-family: "Bw Gradual";
    font-size: 1em;
    line-height: 1.4;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #FFF;
    padding: 10px;
    -webkit-transition: opacity 0.2s ease, background 0.2s ease;
    -o-transition: opacity 0.2s ease, background 0.2s ease;
    transition: opacity 0.2s ease, background 0.2s ease; }
    .list-project_infos::before {
      content: "—"; }
  .list-projects li:hover .list-project_infos {
    opacity: 1;
    background: white; } }

footer {
  width: 100%;
  max-width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  background: #FFF;
  z-index: 10000;
  padding: 10px 0; }
  footer.row {
    margin: 0; }
  footer a {
    text-decoration: none; }
  footer .lower-left-text {
    font-size: 40px; }
  footer .lower-right-text {
    font-size: 28px; }
  footer .lower-right-text, footer .lower-left-text {
    font-family: "Bw Gradual";
    font-weight: 100; }
  footer .inner-footer {
    margin: 0; }
  footer .footer_right-part {
    padding: 0;
    padding-bottom: 3px; }

.languages {
  background: #FFF;
  padding: 0;
  pointer-events: auto; }
  .languages li {
    font-family: "Bw Gradual";
    text-transform: uppercase;
    font-size: 0.85em; }
    .languages li:hover {
      font-weight: bold; }
    .languages li:not(.active) {
      display: none;
      margin-left: calc(15px + 17px);
      position: absolute;
      top: 100%; }
    .languages li.active {
      display: block; }
      .languages li.active .select-btn {
        display: inline-block; }
    .languages li .select-btn {
      cursor: pointer;
      display: none;
      margin-right: 15px; }

.widgets {
  padding: 0; }
  .widgets .row {
    margin: 0; }
  .widgets ul > li {
    margin-right: 5px; }

.social {
  position: relative; }
  .social .list-social-networks {
    position: absolute;
    bottom: 100%;
    display: none; }
    .social .list-social-networks li {
      margin-bottom: 10px; }

.icon::before {
  height: 1em;
  width: 1em;
  display: block;
  text-align: center;
  font-family: "fontawesome";
  font-size: 1em;
  font-weight: normal;
  cursor: pointer; }

.icon-mentions::before {
  content: '\f29c'; }

.icon-light::before {
  content: '\e800'; }

.icon-social::before {
  content: '\e801'; }

.icon-facebook::before {
  content: '\f09a'; }

.icon-vimeo::before {
  content: '\f27d'; }

.icon-linkedin::before {
  content: '\f0e1'; }

.icon-instagram::before {
  content: '\f16d'; }

.icon-youtube::before {
  content: '\f167'; }

.icon-twitter::before {
  content: '\f099'; }

@media only screen and (min-width: 64em) {
  footer {
    background: #FFF;
    padding: 28px; }
    footer > .row {
      margin: 0; }
    footer .footer_right-part {
      background: #FFF;
      padding: 0; }
  .lower-left-text {
    background: #FFF;
    padding: 0;
    padding-left: 0px;
    line-height: 0.7; }
  .lower-right-text {
    position: absolute;
    right: -15px;
    bottom: 63px;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    width: 140px; }
    .lower-right-text p {
      margin: 0;
      text-align: left !important; } }

.show-for-small-only {
  display: block; }

.hide-for-small-only {
  display: none; }

main, aside {
  padding-top: 128px; }

aside p:first-child {
  margin-top: 0; }

.no-padding-top {
  padding-top: 0; }

.page_header {
  position: fixed;
  width: 100%;
  max-width: 100%;
  left: 0;
  top: 100px;
  background: #FFF;
  z-index: 10000; }
  .page_header.row {
    margin: 0; }

.content-to-hide {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .content-to-hide.active {
    max-height: 2000px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }

article.actualite {
  margin-bottom: 80px; }
  article.actualite .see-more.active {
    display: none; }

.actualite_title {
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 0; }
  .actualite_title h2 {
    margin: 0;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 0.9em; }
  .actualite_title .actualite_date {
    font-family: "Bw Gradual";
    font-size: 0.9em; }

.see-more {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.8em;
  text-align: left;
  font-family: "Bw Gradual";
  cursor: pointer; }
  .see-more:before {
    content: ">"; }
  .see-more:hover {
    font-weight: 500; }

aside.list-projects_text li {
  font-family: "Bw Gradual";
  font-weight: 300;
  font-size: 1.2em; }
  aside.list-projects_text li:hover {
    font-weight: 500; }
    aside.list-projects_text li:hover::before {
      content: "–"; }

.list-projects_template {
  margin: 0; }
  .list-projects_template .list-project_infos {
    position: relative;
    opacity: 1;
    padding-left: 0; }

.projet_images-gallery figure {
  margin-bottom: 20px; }

.projet_introduction-text p {
  font-size: 1.05em; }

.projet_infos-text {
  margin-top: 40px; }
  .projet_infos-text h2 {
    text-transform: uppercase;
    font-size: 0.85em;
    font-weight: normal;
    font-weight: 500;
    font-size: 0.8em; }
  .projet_infos-text p {
    font-size: 0.85em;
    font-family: "IBM Plex Mono"; }

.chapeau p {
  font-size: 1.05em; }

.agence_text-inner_main p:first-child {
  margin-top: 0px; }

.agence_text-inner_aside h3 {
  margin-top: 0;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.9em; }

.agence_text-inner_aside p + h3 {
  margin-top: 40px; }

.agence_text-inner_aside p {
  font-size: 0.85em; }

.agence_text-inner_main h2 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.8em;
  margin-top: 20px;
  margin-bottom: 10px; }
  .agence_text-inner_main h2 + p {
    margin-top: 0; }

.agence_equipe h2 {
  font-size: 40px; }

.agence_equipe li {
  margin-bottom: 40px; }
  .agence_equipe li h3 {
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.9em; }
  .agence_equipe li p {
    margin: 0; }
  .agence_equipe li .role::after {
    content: "—";
    display: block; }

@media only screen and (min-width: 64em) {
  body {
    margin-bottom: 100px; }
  p {
    font-size: 0.9em;
    line-height: 1.3; }
  .show-for-small-only {
    display: none !important; }
  .hide-for-small-only {
    display: block; }
  .hide-for-small-only.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  main {
    padding-top: 0px; }
  .filters {
    margin: 50px 0;
    font-family: "Bw Gradual";
    font-size: 0.85em;
    text-transform: uppercase; }
    .filters li {
      margin-bottom: 5px;
      cursor: pointer; }
      .filters li::before {
        content: "⦿";
        margin-right: 15px; }
      .filters li.not-active::before {
        content: "◯"; }
  .list-projects_template li {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    -webkit-transition: -webkit-filter 1s linear;
    transition: -webkit-filter 1s linear;
    -o-transition: filter 1s linear;
    transition: filter 1s linear;
    transition: filter 1s linear, -webkit-filter 1s linear; }
    .list-projects_template li:hover {
      -webkit-filter: grayscale(0);
      filter: grayscale(0); }
  .projet_text-projet .see-more.active {
    display: none; }
  .projet_text-projet .projet_text {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 1s linear;
    -o-transition: max-height 1s linear;
    transition: max-height 1s linear; }
    .projet_text-projet .projet_text h2 {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 0.8em;
      margin-top: 20px;
      margin-bottom: 10px; }
      .projet_text-projet .projet_text h2 + p {
        margin-top: 0; }
    .projet_text-projet .projet_text.active {
      max-height: 4000px; } }
